<div class="title-bar" data-responsive-toggle="main-navigation" data-hide-for="medium">
	<div class="top-bar-left">
		<img class="mobile-menu-logo" src="/assets/senior_logo.png" alt="senior zweistein logo">
	</div>
	<div class="top-bar-right">
		<button class="menu-icon" type="button" data-toggle="main-navigation"></button>
	</div>
</div>

<nav class="top-bar" id="main-navigation">
	<div class="top-bar-left">
		<a href="/">
			<img class="medium" src="/assets/senior_logo.png" alt="senior zweistein logo">
		</a>
	</div>
	<div class="top-bar-right">
		<ul class="vertical menu medium-horizontal menu">
			<li>
				<a href="/most-recent">
					<i class="fa fa-clock"></i>Meest recent</a>
			</li>
			<li>
				<a href="/create">
					<i class="fa fa-pen"></i>Nieuwe post</a>
			</li>
			<li>
				<a href="/blogs">
					<i class="fa fa-bookmark"></i>
					Blogs</a>
			</li>
		</ul>
	</div>
</nav>
